<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fighters</title>
    <h1>There are fighters!</h1>

</head>
<body>
{% for i in range(number_of_fighters) %}
     <a href="{{ url_for('fighters_app.fighter', fighter_id=i) }}">{{ all_fighters[i] }}</a>
    <br>
{% endfor %}

</body>
</html>