<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME FIGHTERS</title>
    <h1>Welcome to ptf.com !</h1>
    <h2>Punch to face is always awesome</h2>
</head>
<body class="container">
    <div>
        <a href="{{ url_for('fighters_app.fighters') }}">Punch to face</a>
    </div>
</body>
</html>
