<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ fighter_name }}</title>
    <h1>Always fresh fighters </h1>
    <h2>{{ fighter_script }}</h2>
</head>
<body>

</body>
</html>